apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: flask-app-dev

bases:
- ../../base

patchesStrategicMerge:
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: flask-app
  spec:
    replicas: 1

commonLabels:
  environment: dev
